<footer>
  <div class="container">
    <p>Coded by <a target="_blank" href="https://github.com/igorlap">Igor Pedrosa</a> - Test for Job Position!</p>
    <div class="socials">
      <a target="_blank" href="#">
        <img src="assets/socials/facebook.svg" alt="twitter">
      </a>
      <a target="_blank" href="#">
        <img src="assets/socials/twitter.svg" alt="twitter">
      </a>
      <a target="_blank" href="#">
        <img src="assets/socials/google-plus.svg" alt="twitter">
      </a>
      <a target="_blank" href="#">
        <img src="assets/socials/youtube.svg" alt="twitter">
      </a>
      <a target="_blank" href="#">
        <img src="assets/socials/instagram.svg" alt="twitter">
      </a>
    </div>
  </div>
</footer>
