<footer>
  <p>Coded by <a target="_blank" href="https://github.com/igorlap">Igor Pedrosa</a> - Test for Job Position!</p>
  <div class="socials">
    <a target="_blank" href="#">
      <img src="assets/facebook.svg" alt="twitter">
    </a>
    <a target="_blank" href="#">
      <img src="assets/twitter.svg" alt="twitter">
    </a>
    <a target="_blank" href="#">
      <img src="assets/google-plus.svg" alt="twitter">
    </a>
    <a target="_blank" href="#">
      <img src="assets/youtube.svg" alt="twitter">
    </a>
    <a target="_blank" href="#">
      <img src="assets/instagram.svg" alt="twitter">
    </a>
  </div>
</footer>
