<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="assets/logo/logo-tindin.svg" alt="logo">
      <img src="assets/logo/name-tindin.svg" alt="name">
    </a>
    <form *ngIf="!isLogged" method="GET">
      <input type="text" placeholder="Search game here">
      <button>Search</button>
    </form>
    <a *ngIf="!isLogged" routerLink="/login" class="profileBtn">
      <img class="profileIcon" src="assets/utils/person.svg" alt="profile">
    </a>
    <a *ngIf="isLogged" (click)="logout()" class="profileBtn">
      <img class="profileIcon" src="assets/utils/logout.svg" alt="profile">
    </a>
  </div>
</header>
