.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: 700;
  padding: 2rem;
  word-break: break-all;

  .sonicImg {
    margin-bottom: .5rem;
    height: 120px;
  }

  span {
    color: var(--gray-300);
  }
}

@media screen and (max-width: 520px) {
  .container {
    font-size: .8rem;

    .sonicImg {
      height: 90px;
    }
  }
}
