<div class="gamesArea" *ngIf="!searchList || searchList == null">
  <app-game-list [gamesList]="gamesList"></app-game-list>
  <button *ngIf="!hasMoreGames" (click)="handleMoreGames()" type="button" class="viewMore">View more games</button>
</div>
<div class="gamesArea" *ngIf="searchList">
  <div *ngIf="searchList.length > 0" class="gameList">
    <app-game-list [gamesList]="searchList"></app-game-list>
  </div>
  <div *ngIf="searchList.length === 0">
    <p style="color: white;">No matches on this search...</p>
  </div>
</div>
