<div class="images">
  <div *ngIf="!newGame" [class.spotlightImage]="inSpotlight" class="poster">
    <img #imgSpotlight (click)="changeImgOnSpotlight(imgSpotlight.src)" class="principalImg"
      [src]="sliderUrls[0] ?? '/assets/utils/placeholder-poster.png'" alt="highlight game">
    <div class="hideBtn" [class.closeBtn]="inSpotlight" (click)="inSpotlight = false">X</div>
  </div>
  <div *ngIf="!newGame && sliderUrls.length > 1" class="slider">
    <div #marginChange class="slideContainer">
      <swiper slidesPerView="auto" [spaceBetween]="spaceBetween" [slidesPerGroup]="slidesPerGroup"
        [slidesPerView]="slidesPerView" [loop]="false" [loopFillGroupWithBlank]="true" [pagination]="{
        clickable: true
      }" [navigation]="true" class="mySwiper">
        <ng-template swiperSlide *ngFor=" let url of sliderUrls">
          <div (click)="changeImgOnSpotlight(url)">
            <img *ngIf="isImg(url)" class="slideImg" [src]="url" alt="">
            <vm-player *ngIf="!isImg(url)" controls>
              <vm-youtube cookies="true" [videoId]="url"></vm-youtube>
            </vm-player>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
  <div *ngIf="newGame" class="newGameMedia">
    <div class="instructions">
      <p>Press 'Enter' to delete media</p>
      <p>For videos use name 'GAMEPLAY', 'TRAILER' or 'CUSTOM' and URL's from youtube</p>
      <p class="mediasTitle">Medias: </p>
    </div>
    <div class="mediasContainer" *ngIf="sliderUrls.length > 0">
      <div class="savedMedias">
        <p (click)="deleteMediaEventEmit(url)" class="media" *ngFor="let url of sliderUrls">{{ url }}</p>
      </div>
    </div>
    <input #nameInput type="text" placeholder="Media name">
    <input #urlInput type="text" placeholder="URL">
    <button class="addBtn" (click)="newMediaEventEmit(nameInput.value, urlInput.value)" type="button">Add</button>
  </div>
</div>
