<div class="images">
  <div [class.spotlightImage]="inSpotlight" class="poster">
    <img *ngIf="!newGame" class="principalImg" #imgSpotlight (click)="putOnSpotlight()" [src]="sliderUrls[0]"
      alt="highlight game">
    <div class="hideBtn" [class.closeBtn]="inSpotlight" (click)="inSpotlight = false">X</div>
  </div>
  <div *ngIf="!newGame && sliderUrls.length > 1" class="slider">
    <div #marginChange class="slideContainer">
      <div (click)="changeImgSpotlight(url)" class="slide" *ngFor=" let url of sliderUrls">
        <img *ngIf="isImg(url)" class="slideImg" [src]="url" alt="">
        <vm-player *ngIf="!isImg(url)" controls>
          <vm-youtube cookies="true" [videoId]="url"></vm-youtube>
        </vm-player>
      </div>
    </div>
    <div #arrows class="arrows">
      <div (click)="handleGoLeft()" class="leftArrow">
        <img src="assets/utils/left-arrow.svg" alt="">
      </div>
      <div (click)="handleGoRight()" class="rightArrow">
        <img src="assets/utils/right-arrow.svg" alt="">
      </div>
    </div>
  </div>
  <div class="newGameMedia" *ngIf="newGame">
    <div class="tagContainer" *ngIf="sliderUrls.length > 0">
      <div class="savedTags">
        <p (click)="deleteMediaEventEmit(url)" class="tag" *ngFor="let url of sliderUrls">{{ url }}</p>
      </div>
    </div>
    <input #nameInput type="text" placeholder="Media name">
    <input #urlInput type="text" placeholder="URL">
    <button class="addBtn" (click)="newMediaEventEmit(nameInput.value, urlInput.value)" type="button">Add</button>
  </div>
</div>
