.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding: 2rem;
  position: relative;

  .bannerList {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 100%;
    height: 580px;
    position: relative;

    h2 {
      font-size: 4rem;
      z-index: 9999;
      letter-spacing: .3rem;
      text-shadow: 1px 0 10px var(--black);
      text-transform: uppercase;
      position: absolute;
      bottom: 90px;
      right: 0;
      left: 0;
      text-align: center;
      color: var(--white);
    }

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

.arrows {
  color: var(--red);
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 3rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--red);
    background: var(--white);
    width: 30px;
    height: 30px;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
      filter: invert(28%) sepia(72%) saturate(5098%) hue-rotate(350deg) brightness(94%) contrast(101%);
    }
  }
}

.pointers {
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  margin-bottom: 3rem;
  left: 0;
  bottom: 0;
  right: 0;

  .selector {
    cursor: pointer;
    background: rgba(255, 255, 255, .9);
    height: 20px;
    width: 20px;
    border-radius: 25rem;
    transition: background ease-in .2s;

    &.selected {
      background: var(--red);
    }

    &+.selector {
      margin-left: .5rem;
    }
  }
}

@media screen and (max-width: 880px) {
  .bannerContainer {

    .bannerList {
      width: 80vw;
    }

    .image {
      height: 380px;

      h2 {
        font-size: 2.5rem;
        bottom: 60px;
      }
    }
  }

  .arrows {
    top: 200px;
  }

}

@media screen and (max-width: 560px) {
  .bannerContainer {
    .image {
      h2 {
        font-size: 1.5rem;
      }
    }
  }

  .pointers {
    .selector {
      height: 15px;
      width: 15px;
    }
  }
}
