<app-banner *ngIf="!isLogged" [actualSlide]="actualSlide" [imagesBanner]="imagesBanner"></app-banner>
<div *ngIf="isLogged" class="loggedUserArea">
  <div class="header">
    <h1>Games</h1>
    <p>Games manager portal</p>
  </div>
  <div class="actions">
    <input type="text" #searchInput placeholder="Search from...">
    <button type="button">New Game</button>
  </div>
</div>
<app-games-area [disableBtn]="disableBtn" (viewMoreGames)="onViewMoreGames($event)" [searchList]="searchList"
  [gamesList]="gamesList">
</app-games-area>
