.loggedUserArea {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  h1,
  p,
  input,
  a {
    color: var(--white);
  }

  input {
    padding: .6rem 0;
    padding-left: 1rem;
    outline: 0;
    border: 2px solid var(--red);
    background: transparent;

    &::placeholder {
      color: var(--white);
      font-size: .9rem;
      text-align: justify;
    }
  }

  a {
    border: 0;
    text-decoration: none;
    background: var(--red);
    text-transform: uppercase;
    padding: .7rem 2rem;
    margin-left: .5rem;
    font-weight: 400;
    transition: filter ease .2s;

    &:hover {
      filter: brightness(.9);
    }
  }
}

app-games-area {
  transition: opacity ease .2s;
  opacity: 1;

  &.onSearch {
    opacity: .1;
  }
}

.goUpBtn {
  cursor: pointer;
  position: fixed;
  background: var(--gray-700);
  color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.25rem;
  right: 30px;
  bottom: -20%;
  width: 40px;
  height: 40px;
  transition: all ease .2s;

  .goUpIcon {
    width: 45px;
    height: 45px;
    filter: invert(28%) sepia(72%) saturate(5098%) hue-rotate(350deg) brightness(94%) contrast(101%);
  }

  &:hover {
    filter: brightness(.9);
  }

  &.showGoUp {
    bottom: 10%;
  }
}

@media screen and (max-width: 768px) {
  .loggedUserArea {
    flex-direction: column;
  }

  .actions {
    margin-top: 2rem;
  }
}


@media screen and (max-width: 460px) {
  .actions {
    display: flex;
    flex-wrap: wrap;

    input,
    a {
      width: 100%;
    }

    a {
      width: 100%;
      margin: 0;
      text-align: center;
      margin-top: 1rem;
    }
  }

  .goUpBtn {
    font-size: 2.1rem;
    width: 35px;
    height: 35px;

    .goUpIcon {
      width: 35px;
      height: 35px;
    }
  }
}
