:root {
  --background: #1B1919;

  --red: #FC4444;
  --white: #FFFFFF;
  --black: #000000;

  --gray-300: #7F7F7F;
  --gray-500: #2C2B2B;
  --gray-800: #2A2726;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  list-style: none;
}

body {
  background: var(--background);
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: .6;
  cursor: not-allowed;
}
